.photo-body{
  img{
    width: 100%;
    border-radius: 1%;
  }
}

.photo-title {
  display: flex;
  justify-content: space-between;
  .btn{
    color: #fff;
    background-color: #710338 !important;
    border-color: #710338 !important;
    width: 100px;
    border-radius: 40px !important;
    cursor: pointer;
  }
}